<h1>I/O Jobs</h1>
<nb-card>
  <nb-card-header>Job ID: 123458-27349-28493</nb-card-header>
  <nb-card-body>
    Download file:....
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" style="float: right;">Abort</button>
  </nb-card-footer>
</nb-card>
<nb-card>
  <nb-card-header>Job ID: 123458-27349-28493</nb-card-header>
  <nb-card-body>
    Download file:....
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danger" style="float: right;">Abort</button>
  </nb-card-footer>
</nb-card>
