<nb-card style="width: 30vw;">
  <nb-card-header *ngIf="mode=='create'">Create new project</nb-card-header>
  <nb-card-header *ngIf="mode!='create'">Update project [{{project.id}}]</nb-card-header>
  <nb-card-body>
    <nb-form-field style="margin:10px;">
      <input *ngIf="mode=='create'" [formControl]="idControl" fullWidth placeholder="Project ID" nbInput>
      <input *ngIf="mode!='create'" [formControl]="idControl" fullWidth placeholder="Project ID" nbInput disabled>
    </nb-form-field>
    <nb-form-field style="margin:10px;">
      <input [formControl]="nameControl" fullWidth placeholder="Name" nbInput>
    </nb-form-field>
    <nb-form-field style="margin:10px;">
      <textarea [formControl]="descriptionControl" fullWidth placeholder="Description" nbInput></textarea>
    </nb-form-field>
  </nb-card-body>
  <nb-card-footer>
    <button *ngIf="mode=='create'" nbButton status="primary" (click)="createProject()">Create</button>
    <button *ngIf="mode!='create'" nbButton status="primary" (click)="updateProject()">Update</button>
  </nb-card-footer>
</nb-card>
