<nb-layout>

  <nb-layout-header fixed>
    <button nbButton ghost status="basic" (click)="sidebarService.toggle()">
      <nb-icon icon="menu-outline" style="color:#fff;"></nb-icon>
    </button>
    <img src="../assets/Icon-White@500x.png" style="width: 30px;margin-right: 30px;" />
    Vision Intelligence Console
    <div style="flex:1 auto;"></div>
    <nb-select placeholder="Select project" shape="rectangle" style="border-radius: 0;" size="small">
      <nb-option value="0">Demo 1</nb-option>
      <nb-option value="1">X-Ray Chest</nb-option>
      <nb-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</nb-option>
    </nb-select>
    <button *ngIf="!currentUser" (click)="login()" nbButton size="small" shape="rectangle" style="border-radius: 0;">
      <nb-icon icon="person"></nb-icon>
      Login
    </button>
    <button *ngIf="currentUser" nbButton size="small" shape="rectangle" style="border-radius: 0;"
      [nbPopover]="accountPopoverRef" nbPopoverPlacement="bottom">
      <nb-icon icon="person"></nb-icon>
      {{currentUser.displayName}}
    </button>

  </nb-layout-header>
  <ng-template #accountPopoverRef>
    <div style="padding:10px">
      <nb-user [picture]="currentUser.photoURL" [name]="currentUser.displayName" [title]="currentUser.email"
        style="margin-bottom: 10px;"></nb-user>
      <button nbButton (click)="signOut()" status="primary" size="small" fullWidth>
        Sign out
      </button>
    </div>
  </ng-template>
  <nb-sidebar>
    <b>Toolbox</b>

    <nb-menu [items]="menus">
    </nb-menu>

  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
